.basic {
  padding: 0;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background: inherit;
}

.basic:hover {
  transform: translateY(-2px);
}

.text {
  width: auto;
  height: auto;
  padding: 10px 20px;
  align-items: center;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
  will-change: box-shadow, transform;
}

.text:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.text:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.text:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
